@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes move_right {
    from{
        opacity: 0;
        transform: translate(-200px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes move_left {
    from{
        opacity: 1;
        transform: translate(0);
    }
    to{
        opacity: 0;
        transform: translate(-200px);
    }
}
@keyframes mouse_meet {
    from {
        scale: 1;
    }
    to{
        scale: 1.01;
    }
}@keyframes mouse_leave {
    from {
        scale: 1.01;
    }
    to{
        scale: 1;
    }
}
#welcome p{
    background: -webkit-linear-gradient(135deg,
            #0eaf6d,
            #ff6ac6 25%,
            #147b96 50%,
            #e6d205 55%,
            #2cc4e0 60%,
            #8b2ce0 80%,
            #ff6384 95%,
            #08dfb4);
    /* 文字颜色填充设置为透明 */
    -webkit-text-fill-color: transparent;
    /* 背景裁剪，即让文字使用背景色 */
    -webkit-background-clip: text;
    /* 背景图放大一下，看着柔和一些 */
    -webkit-background-size: 200% 100%;
    /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
    -webkit-animation: flowCss 12s infinite linear;
}

@keyframes flowCss {
    0% {
        /* 移动背景位置 */
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}