/* HTML: <div class="loader"></div> */
.ct {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.loader {
    width: 160px;
    aspect-ratio: 1;
    background: #000000;
    clip-path: polygon(100.00% 50.00%,64.14% 64.14%,50.00% 100.00%,35.86% 64.14%,0.00% 50.00%,35.86% 35.86%,50.00% 0.00%,64.14% 35.86%);
    -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
    animation: l1 0.6s infinite linear;
  }
  @keyframes l1{ 
    100%{transform: rotate(1turn)}
  }