@keyframes move_forward{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-150px);
    }
}
@keyframes move_back{
    from{
        transform: translate(-150px);
    }
    to{
        transform: translate(0px);
    }
}
@keyframes x_appear {
    from{
        width: 0;
    }
    to{
        width: 200px;
    }
}
@keyframes x_disappear {
    from{
        width: 200px;
    }
    to{
        width: 20px;
    }
}
#search{
    position: absolute;
    top:10px;
    right: 20px;
    cursor: pointer;
    /* animation: move_back 0.4s forwards; */
    /* animation: move_forward 0.4s forwards; */
}
#search.move_forward{
    animation: move_forward 0.4s forwards;
}
#search.move_back{
    animation: move_back 0.4s forwards;
}
#search-input{
    position: absolute;
    top:12px;
    right: 20px;
    height: 44px;
    width: 0;
    font-size: 25px;
    border: none;
    color: #000;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding-left: 15px;
    display:none
}
#search-input::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
  }
#search-input:focus{
    outline: 4px solid rgb(255, 255, 255, 1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
#search-input.x_appear{
    animation: x_appear 0.4s forwards;
}
#search-input.x_disappear{
    animation: x_disappear 0.4s forwards;
}
