:root{
    --bg-color: #f4f4f4;
    --x-color: rgb(255, 255, 255,0.6)
}
.sidebar {
    width: 200px;
    background-color: rgb(255,255,255,0.3);
    backdrop-filter: blur(5px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;  
}   
.side-div{
    width: 200px;
    opacity: 0;
    background-color: var(--bg-color);
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;
}
.left-bar{
    width: 32px;
}
#btn-side{
    background-color: var(--x-color);
    position: fixed;
    height: 45px;
    width: 45px;
    left: -18px;
    border: none;
    border-radius: 50%;
    height: 41px;
    color: #0015ff;
}
#close-menu{
    background-color: var(--x-color);
    border-radius: 10px;
    height: 41px;
    border: none;
    font-size: large;
    color: #0015ff;
}
.side-list{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    margin: 0;
}
.side-list li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.side-list button{
    width: 100%;
    background-color: var(--x-color);
    border-radius: 10px;
    border: none;
    font-size: larger;
}