.sidebar {
    width: 200px;
    opacity: 0.6;
    background-color: #fff;
    backdrop-filter: blur(40px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;  
}
.side-div{
    width: 200px;
    opacity: 0;
    background-color: #fff;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;
}
.left-bar{
    width: 30px;
}
#btn-side{
    background-color: transparent;
    border: none;
    font-size: large;
    color: #0099ff;
    text-decoration: underline;
}
#close-menu{
    background-color: transparent;
    border: none;
    font-size: large;
    color: #0099ff;
    text-decoration: underline;
}
.side-list{
    list-style: none;
}
.li-button{
    background-color: transparent;
    border: none;
    font-size: larger;
}