.sidebar {
    width: 200px;
    background-color: rgb(255,255,255,0.3);
    backdrop-filter: blur(5px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;  
}   
.side-div{
    width: 200px;
    opacity: 0;
    background-color: #fff;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;
}
.left-bar{
    width: 32px;
}
#btn-side{
    background-color: rgb(255, 255, 255,0.6);
    border: none;
    border-radius: 10px;
    font-size: large;
    color: #0015ff;
    text-decoration: underline;
}
#close-menu{
    background-color: rgb(255, 255, 255,0.6);
    border-radius: 10px;
    border: none;
    font-size: large;
    color: #0015ff;
    text-decoration: underline;
}
.side-list{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.side-list button{
    left: 10%;
    width: 80%;
    background-color: rgb(255, 255, 255,0.6);
    border-radius: 10px;
    border: none;
    font-size: larger;
}