body {
    font-family: Arial, sans-serif;
    background: url(../src/background.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar {
    background-color: transparent;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    padding: 20px;
}
h1 {
    color: #333;
}
.resource-list {
    list-style: none;
    padding: 0;
}
.resource-list li {
    background-color: transparent;
    color: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.footer {
    background-color: transparent;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#white-font {
    color: #fff;
}
