body {
    font-family: Arial, sans-serif;
    background: url(../src/background.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar {
    background-color: transparent;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    padding: 30px 30px;
    width: 100%;
    
}
h1 {
    color: #333;
    width: 100%;
}
.resource-list {
    list-style: none;
    padding: 0;
}
.resource-list li { 
    background-color: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    color: #000000;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 25px;
    animation: appear 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.resource-list button {
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
.footer {
    background-color: transparent;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
#welcome{
    clear: #000000;
    width: 100%;
    font-size:30px;
}
